/*Обнуление*/
*,
*::before,
*::after {
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
/*-----------------Шрифты--------------------------------------------------*/

@font-face {
    font-family: 'TTLakesMed';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakesReg';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakesBold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*-----------------------------------------------------------------------*/
html,
body {
    height: 100%;
}
body {
    font-size: 16px;
    color: black;
    font-family: 'TTLakesReg', 'TTLakesMed','TTLakesBold';
}
.wrapper {
    min-height: 504px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*------------------------------------------------------------------------*/
[class*="__container"] {
    max-width: auto;
    margin: 0px auto;
}
/*--------шапка----------------------------------------------------------------*/
.header {
    width: 100%;
    left: 0px;
    top: 0;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 80px;
    background-image: linear-gradient(90deg, #F8F8F8 1%, #FFFFFF 99%);
}
.header__content {
    color: #7E7E82;
    padding-left: 20px;
    font-size: 16px;
}
/*--------Осн Информация-------------------------------------------------------*/
.main {
    flex: 1 1 auto;
}
.get-started__container {
    background-color: #F8F8F8;
}
.get-started__content {
    height: 480px;
    width: 1120px;
}
.swiper {
    height: 280px;
}
.swiper.expanded {
    height: 200px;
}
.wrapper__container{
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
    white-space: wrap;
    flex-wrap: wrap;
    overflow: hidden; 
    flex-direction: row;
}
.swiper-slide{
    width: 240px !important;
    height: 70px !important;
    margin-bottom: 23px;
}
.bottom__container{
    margin-left: 15px;
    margin-right: 20px;
}
.swiper-pagination {
    display: none;
}
.get-started__lenovo {
    display: block;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__samsung {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 15px 0px 0px 20px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__apple {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0px 0px 10px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__sonic {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 20px 0px 0px 15px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__bosch {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__hp {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0px 0px 10px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__acer {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 25px 0px 0px 10px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__sony {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 20px 0px 0px 10px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__lenovo1 {
    display: block;
    justify-content: start;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 20px 0px 0px 20px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__samsung1 {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 15px 0px 0px 20px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__apple1 {
    display: block;
    flex: none;
    width: 240px;
    height: 72px;
    cursor: pointer;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: white;
    padding: 10px 0px 0px 10px;
    background-image: url("../img/go.svg");
    background-repeat: no-repeat;
    background-position: 180px 16px;
}
.get-started__more {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 10px;
}
.get-started__showMore {
    font-family: 'TTLakesMed';
    font-size: 16px;
    color: black;
    padding-left: 10px;
    cursor: pointer;
}
.get-started__showMore::before {
    content: '';
    height: 24px;
    width: 24px;
    margin-right: 10px;
    display: inline-block;
    background-image: url("../img/expand1.svg");
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    content:attr(data-icon);
    transition: transform 0.2s ease; 
}  
.get-started__showMore.rotate::before {
    transform: rotate(180deg);
  }
/*-----------TABLET--------------------------------------------------------*/
@media (max-width: 1120px) {
    [class*="__container"] {
        min-width: auto;
    }
.swiper {
    height: 400px;
}
.wrapper__container {
    margin: 0px;
    height: 380px !important;
    width: 780px !important;
}
.swiper-slide {
    width: 224px !important;
    margin-left: 10px;
}
.get-started__lenovo {
    width: 224px;
    background-position: 170px 16px;
}
.get-started__samsung {
    width: 224px;
    background-position: 170px 16px;
}
.get-started__apple {
    width: 224px;
    background-position: 170px 16px;
}
.get-started__sonic {
    width: 224px;
    background-position: 170px 16px;
    margin-left: 0px;
}
.get-started__bosch {
    width: 224px;
    background-position: 170px 16px;
    margin-left: 0px;
}
.get-started__hp {
    width: 224px;
    background-position: 170px 16px;
}
.get-started__acer {
    width: 224px;
    background-position: 170px 16px;
}
.get-started__sony {
    width: 224px;
    background-position: 170px 16px;
}
.get-started__lenovo1 {
    width: 224px;
    background-position: 170px 16px;
    margin-left: 0px;
}
.get-started__samsung1 {
    width: 224px;
    background-position: 170px 16px;
}
.get-started__apple1 {
    width: 224px;
    background-position: 170px 16px;
}
}
/*---------Mobile----------------------------------------------------------------*/
@media (max-width: 767px) {
    [class*="__container"] {
        min-width: auto;
    }
.get-started__content {
    width: auto;
    } 
.get-started__more {
    display: none;
}
.get-started__lenovo {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__samsung {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__apple {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__sonic {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__bosch {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__hp {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__acer {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__sony {
    width: 240px;
    background-position: 180px 16px;
} 
.get-started__lenovo1 {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__samsung1 {
    width: 240px;
    background-position: 180px 16px;
}
.get-started__apple1 {
    width: 240px;
    background-position: 180px 16px;
}
.swiper {
    height: 130px;
}
.wrapper__container {
    flex-wrap: nowrap; 
    width: 3000px !important;
}
.swiper-pagination {
    display: block;
}
.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    background-color: #DDDDDD;
}
.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}
}